/* sitewide styles */
a:hover, a:focus {
  text-decoration: none;
}
/*site header and nav */
#navbar {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 1000;
  background: #f2f2f1;
  padding-bottom: 13px;
  color: #36322d;
}
#navbar .lead{
  font-size: 17px;
  padding-left: 5px;
  font-style: italic;
}
.navbar-inverse {
  background-color: #fff;
  border-color: #fff;
}
#navbar .menu{
  float: right;
}
.navbar .logo{
  margin-top: 20px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #006687;
  font-size: 17px;
  margin-top: 20px;
  padding-top: 17px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  background-color: #49B2D4;
}
.navbar-inverse .navbar-nav>li>a:hover{
  background-color: #49B2D4;
  color: #555;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: #006687;
  border-bottom-color: #006687;
}
.front li.menu-218{
  display: none;
}
#block-system-main-menu i,
.navbar-nav i,
.toggle{
  font-style: normal;
}
#top-row{
  background: rgba(212, 215, 200, 0.42) none repeat scroll 0% 0%;
}
.front .menu-path-front{
  display: none;
}
.front .tabs{
  display: none;
}
.mission-statement h3{
  color: #FD1A2C;
  font-weight: bold;
  font-size: 17px;
}
#content p, #content li {
  font-size: 14px;
}
#main-content-wrapper{
  margin-top: 0;
  padding: 0;
  background: #fcfcfc;
}
.navbar-inverse .navbar-brand{
  color: #333;
  margin: 20px 0 0 0;
  font-weight: normal;
  font-size: 29px;
  font-family: Roboto, sans-serif;
  padding-bottom: 6px;
}
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  color: #006687;
}

.chosen-container{
  font-size: 15px;
}
.chosen-container-single .chosen-single {
  height: auto;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: none;
  background-clip: padding-box;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  white-space: nowrap;
  line-height: normal;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: none;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.chosen-container-multi .chosen-choices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto !important;
  border: none;
  background-color: #fff;
  background-image: none;
}
.chosen-container-active .chosen-choices {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#edit_field_timespan_tid_chosen{
  padding: 0;
}
#edit-field-tags-tid-wrapper{
  max-width: 300px;
}
#edit-title-wrapper .views-operator{
  float: left;
  margin-right: 8px;
}
#edit-title-wrapper .views-widget{
  float: left;
}
#edit-title-wrapper label{
  width: 100%;
}

/* home page */
.front .main-container,
.front .main-container .container-fluid,
.front .main-container .row,
.front .main-container .col-sm-12{
}

/* home page search panels */
.front #featured-wrapper{
  width: 98%;
  margin: 0 auto;
}
.front #search_tabs{
  max-width: 560px;
  margin: 18px auto 12px;
  position: absolute;
  z-index: 995;
  left: 0;
  right: 0;
  opacity: .95;
}
.front .nav-tabs{
  margin-bottom: 0;
  background: #eee;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.nav-tabs>li {
  margin-top: 4px;
  margin-left: 6px;
}
.front .nav-tabs > li > a{
  background: transparent;
  padding: 7px 12px 4px;
  color: #444;
  font-size: 15px;
}
.front .nav-tabs > li.active > a, 
.front .nav-tabs > li.active > a:hover, 
.front .nav-tabs > li.active > a:focus
.front .nav > li > a:hover, 
.front .nav > li > a:focus{
  background-color: #fff;
  outline: none;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.front .tab-pane{
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  height: 98px;
  background: #fff;
}
#block-views-exp-geosearchaddy-page{
  width: 95.25%;
  min-width: 515px;
  z-index: 900;
  padding: 10px 9px 0px 12px;
  position: relative;
}
#block-views-exp-pointsearch-page {
  width: 100%;
  z-index: 900;
  padding: 10px 9px 0px 12px;
  position: relative;
}
#block-views-neighborhood-lister-block {
  width: 96%;
  z-index: 900;
  padding: 10px 11px 0px 12px;
  position: relative;
}
#block-views-exp-geosearchaddy-page h2.block-title,
#block-views-exp-pointsearch-page h2.block-title,
#block-views-neighborhood-lister-block h2.block-title{
  font-size: 17px;
  margin: 0;
  display: none;
}
.geofield-proximity-field-wrapper .form-item, 
.geofield-proximity-field-wrapper .geofield-proximity-origin-from {
  margin-right: 11px;
}
.form-item-field-geofield-distance-distance{
  position: absolute;
  right: 157px;
}
#edit-field-geofield-distance-unit{
  padding: 8px 0px 8px 5px;
}
.form-item-field-geofield-distance-distance::before{
  content: " radius:";
  position: absolute;
  right: 38px;
  width: 48px;
  font-size: 12px;
  margin-top: 10px;
  white-space: nowrap;
}
#edit-field-geofield-distance-distance{
  width: 40px;
  text-align:right;
  padding: 8px 3px;
}
.form-item-field-geofield-distance-unit{
  position: absolute;
  right: 85px;
  width: 70px;
  padding-top: 0 !important;
}
.form-item-field-geofield-distance-origin {
  position: absolute;
  float: left;
  width: 48%;
  display: block;
  height: 35px;
  padding: 0;
  font-size: 15px;
  line-height: 1.428571429;
  color: #6f6f6f;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-item-field-geofield-distance-origin:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
#edit-field-geofield-distance-origin{
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 73%;
  background: transparent;
    height: 29px;
  padding: 7px 7px 0px;
}
#edit-field-geofield-distance-origin:focus{
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-item-field-geofield-distance-origin .input-group-addon{
  background: transparent;
  padding: 9px 14px 7px 1px;
  position: absolute;
  border: none;
  top: 3px;
  right: 57px;
}
#views-exposed-form-geosearchaddy-page .description,
#block-views-exp-pointsearch-page #edit-keys-wrapper .description {
  margin-top: 17px;
  font-size: 13px;
  color: #575757;
  position: absolute;
}
#block-views-exp-pointsearch-page #edit-keys-wrapper .description {
  margin-top: 10px;
}
#block-views-exp-pointsearch-page #edit-keys-wrapper{
  clear: right;
  padding-right: 0;
  width: 79%;
}
#views-exposed-form-geosearchaddy-page .views-exposed-widget.views-submit-button,
#block-views-exp-pointsearch-page .views-exposed-widget.views-submit-button{
  float: right;
  margin-top: 9px;
  padding: 0;
}
#block-views-exp-pointsearch-page .views-exposed-widget.views-submit-button{
  float: left;
  margin-left: 7px;
}
#edit-submit-geosearchaddy,
#edit-submit-pointsearch,
#block-views-neighborhood-lister-block .ctools-jump-menu-button{
  padding: 5px 14px;
  margin-top: 0;
  float: left;
}
#edit-submit-geosearchaddy{
  margin-right: 1px;
  float: right;
}

#edit-field-geofield-distance-wrapper label{
  display: none;
}
#block-views-neighborhood-lister-block .view-id-neighborhood_lister{
  margin-top: 7px;
}
#block-views-neighborhood-lister-block .ctools-jump-menu-select{
  width: 82.5%;
  clear: right;
  float: left;
  margin-top: 1px;
}
#block-views-neighborhood-lister-block .ctools-jump-menu-button{
  color: #fff;
  background-color: #008cba;
  border-color: #0079a1;
  margin-top: 2px;
  margin-left: 7px;
  width: 78px;
}

/*Keyword search form */
#block-search-form{
  max-width: 325px;
  padding: 11px 0;
  position: relative;
  z-index: 1000;
}
#block-search-form h2{
  font-size: 17px;
  margin: 0 0 6px;
}

/* Articles page */
.view-id-articles.view-display-id-page .media{
  margin-bottom: 15px;
}
.view-id-articles.view-display-id-page .media{
  padding-left: 5px;
  padding-top: 5px;
}
/* page template */
.main-container{
  min-height: 550px;
  padding-left: 0;
  padding-right: 0;
}

/* footer */
#footer_wrapper{
  background: #f2f2f2;
  margin-top: 50px;
  padding: 30px 0;
  position: relative;
}
.front #footer_wrapper{
  margin-top: 0;
}

/* browse */
.view-id-points_base_1 #edit-field-timespan-tid{
  height: 39px;
  width:200px;
}
.view-id-points_base_1 #edit-field-timespan-tid:active,
.view-id-points_base_1 #edit-field-timespan-tid:hover{
  width:200px;
  height:200px;
  position: absolute;
  z-index:200;
}

/* Login page */
.not-logged-in.page-user .tabs--primary, 
#user-login{
  max-width: 500px;
}

/* responsive */

@media (max-width: 1490px) {
 .featured_left{
 margin-left: 3%;
 }
}

@media (max-width: 1190px) {
  .front #search_tabs{
    left: 85px;
    right: auto;
  }
}

@media (max-width: 995px) {
  #navbar .container{
    width: 98%;
  }
  #block-views-term-browser-block-1{
    position: relative;
  }
}

@media (max-width: 900px) {
  body,html {
    overflow-x: hidden
  }
  #navbar .lead {
    font-size: 15px;
  }
  .navbar-inverse .navbar-brand{
    font-size: 24px;
  }
  .olControlLayerSwitcher{
    top: 325px !important;
    right: auto !important;
    left: 32px !important;
    width: 0px;
    height: 0px;
  }
}
@media (max-width: 870px) {
  .navbar-inverse .navbar-brand{
    margin-top: 10px;
  }
  .navbar-inverse .navbar-nav>li>a {
    color: #006687;
    font-size: 14px;
    margin-top: 10px;
    padding-top: 20px;
  }
@media (max-width: 768px) {
  .navbar-inverse .navbar-toggle{
    background-color: #008cba;
    float: left;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: 14px;
  }
  .navbar-inverse .navbar-toggle:hover, 
  .navbar-inverse .navbar-toggle:focus {
    background-color: #006687;
  }
  #navbar{
    padding-bottom: 0;
  }
  #navbar .container{
    width: 100%;
  }
  #navbar .navbar-brand{
    font-size: 21px;
    margin-top: 0;
    line-height: normal;
    height: auto;
    padding: 5px 0 2px 10px;
  }
  #navbar .lead{
    clear: left;
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 15px;
    float: left;
    margin-left: 66px;
    margin-top: -5px;
  }
  #navbar .menu{
    float: none;
    background: #49B2D4;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-inverse .navbar-nav>li>a{
    color:#fff;
    border-top: 1px solid #6CB8D0;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #navbar .menu .fa{
    font-size: 32px;
    float: left;
  }
  #navbar .menu a span{
    display: inline-block;
    padding: 8px 0 0 13px;
    font-size: 18px;
  }
  .navbar-inverse .navbar-collapse{
    border: none;
  }
  .main-container{
    padding: 0 10px;
  }
  .page-header {
    margin: 25px 0 21px;
  }
  h1.page-header {
    font-size: 26px;
  }
  .field-name-field-image img{
    display: block;
    max-width: 100%;
    height: auto;
  }
  /* home page search form */
  .nav-tabs>li {
    margin-top: 4px;
    margin-left: 4px;
  }
  #block-views-exp-geosearchaddy-page {
    width: 95%;
    min-width: 400px;
  }
  .form-item-field-geofield-distance-origin{
    width: 47%
  }
  #edit-submit-geosearchaddy,
  #edit-submit-pointsearch{
    padding: 6px 8px;
    font-size: 14px;
  }
  .geofield-proximity-field-wrapper .form-item{
    margin-right: -5px;
  }
  #block-views-neighborhood-lister-block .ctools-jump-menu-button{
   width: 55px;
  font-size: 14px;
  }
}